.nav {
    display: flex;
    grid-area: nav;
    background-color: hsl(var(--secondary-hsl));
    gap: 3rem;
    padding: 0.5rem;
    justify-content: center;
    border-bottom: hsl(var(--accent-hsl)) solid 4px;
}

.nav__logo {
    aspect-ratio: 1 / 1;
    height: 100%;
    margin-right: 5px;
    transition: transform 0.2s ease;
}

.nav-button {
    position: relative;
    display: flex;
    width: max-content;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
}

.nav-button__main {
    background-color: hsl(var(--primary-hsl));
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease
}
.nav-button__main:hover {
    background-color: hsl(var(--hover-hsl));
}
.nav-button__main:hover .nav__logo {
    transform: scale(1.2);
}
.nav-button__main::after {
    content: "";
    position: absolute;
    inset: 0;

    top: 0;
    left: calc(100% + 1.5rem);
    width: 3px;
    height: 100%;
    background-color: hsl(var(--accent-hsl));   
}

.nav-button:not(:last-child):not(:first-child)::after {
    content: "";
    position: absolute;
    inset: 0;

    top: 50%;
    left: calc(100% + 1.5rem);
    width: 3px;
    height: 50%;
    transform:translateY(-50%);
    background-color: hsl(var(--accent-hsl));
}