:root {
	background-color: hsl(var(--primary-bg));
	color: hsl(var(--primary-text));

	font-family: "Inter",sans-serif;
	letter-spacing: 0.03em;
}

.primary {
	background-color: hsl(var(--primary-bg));
	color: hsl(var(--primary-text))
}
.primary:is(button) {
	transition: background-color 0.2s ease;
}
.primary:is(button):hover {
	background-color: hsl(var(--primary-3));
}

.secondary {
	background-color: hsl(var(--secondary-bg));
	color: hsl(var(--secondary-text))
}

.tertiary {
	background-color: hsl(var(--tertiary-bg));
	color: hsl(var(--tertiary-text))
}
.tertiary:is(button) {
	transition: background-color 0.2s ease;
}
.tertiary:is(button):hover {
	background-color: hsl(var(--tertiary-2));
}

.tooltip {
	color: hsl(0, 0%, 60%);
	font-weight: 500;
	font-size: 0.8rem;
}

body {
	line-height: 1;
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 0;
}

input, button, a {
	all: unset;
	user-select: none;
}

input {
	cursor: text;
}

button, a {
	cursor: pointer;
}

